
-- 1. Extend Trips
ALTER TABLE trips ADD COLUMN IF NOT EXISTS location_name TEXT;
ALTER TABLE trips ADD COLUMN IF NOT EXISTS description TEXT;

-- 2. Bucket Items (Unscheduled ideas)
CREATE TABLE IF NOT EXISTS bucket_items (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  trip_id uuid REFERENCES trips(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  type TEXT CHECK (type IN ('place', 'activity')),
  category TEXT, -- 'eat', 'visit', 'adventure', etc.
  latitude FLOAT8,
  longitude FLOAT8,
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. Wardrobe (Personal inventory)
CREATE TABLE IF NOT EXISTS wardrobe (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id TEXT NOT NULL,
  name TEXT NOT NULL,
  category TEXT, -- 'top', 'bottom', 'shoes', etc.
  image_url TEXT,
  is_in_wardrobe BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 4. Itinerary (The Schedule)
CREATE TABLE IF NOT EXISTS itinerary_items (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  trip_id uuid REFERENCES trips(id) ON DELETE CASCADE,
  bucket_item_id uuid REFERENCES bucket_items(id) ON DELETE CASCADE,
  day_number INTEGER NOT NULL,
  sequence INTEGER NOT NULL,
  notes TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 5. Outfits (Linking wardrobe to itinerary)
CREATE TABLE IF NOT EXISTS itinerary_outfits (
  itinerary_item_id uuid REFERENCES itinerary_items(id) ON DELETE CASCADE,
  wardrobe_item_id uuid REFERENCES wardrobe(id) ON DELETE CASCADE,
  PRIMARY KEY (itinerary_item_id, wardrobe_item_id)
);

-- 6. Shared Canvas
CREATE TABLE IF NOT EXISTS trip_canvas (
  trip_id uuid REFERENCES trips(id) ON DELETE CASCADE PRIMARY KEY,
  paths JSONB DEFAULT '[]'::jsonb,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable Realtime
ALTER PUBLICATION supabase_realtime ADD TABLE bucket_items, wardrobe, itinerary_items, itinerary_outfits, trip_canvas;

